html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

body {
    margin: 0;
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body {
    background-image: url("/blurred-background-close-up-flowers.jpg");
    background-position: center center;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    .body {
      background-attachment: fixed;
    }
}
.body:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
}

h2 {
    font-family: "Sacramento", Arial, serif;
    font-size: 52px;
    font-weight: bold;
}

header {
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#preview {
    max-width: 100%;
    width: 100%;
    max-height: 80%;
    height: 80%;
}

img {
    max-width: 100%;
    height: auto;
}

#imgselect {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #ff67cf;
    border: solid 2px #ff67cf;
    background-color: #fff;
    border-radius: 3px;
    transition: .4s;
}
#imgselect:hover {
    background: #ff67cf;
    color: white;
}

#imgselect_disabled {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #888;
    border: solid 2px #555;
    background-color: #333;
    border-radius: 3px;
    transition: .4s;
}

.imgselect_inner {
    display: none !important;
}

.textform {
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
}


:placeholder-shown {
    color: white;
}
::-webkit-input-placeholder {
    color: white;
}

